@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    background: #444444;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

.ccheader {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.ccheader h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.3;
}

.ccheader {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.ccheader h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.3;
}


/* Form CSS*/

.ccform {
    margin: 0 auto;
    width: 800px;
}

.ccfield-prepend {
    margin-bottom: 10px;
    width: 100%;
}

.ccform-addon {
    color: #ee2c2c;
    float: left;
    padding: 15.25px;
    width: 8%;
    background: #FFFFFF;
    text-align: center;
}

.ccformfield {
    color: #000000;
    background: #FFFFFF;
    border: none;
    padding: 15.5px;
    width: 91.9%;
    display: block;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
}

.ccformfield {
    font-family: 'Lato', Arial, sans-serif;
}

.ccbtn {
    display: block;
    border: none;
    background: #ff3030;
    color: #FFFFFF;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.ccbtn:hover {
    background: #ee2c2c;
}

.credit {
    width: 800px;
    clear: both;
    margin: 0 auto;
    line-height: 25px;
    padding: 25px 50px;
    text-align: center;
}

.credit em {
    margin-right: 5px;
}

.credit a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}