@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
body, html {
    background-image: url("../img/indexPage/headerimage.png");
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.register-form {
    font-size: 16px;
    left: 55%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton {
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.logbutton {
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton:hover {
    color: white;
    background-color: darkolivegreen;
}

.logbutton:active {
    color: white;
    background-color: darkolivegreen;
}

.register-form label {
    color: aliceblue;
}

.register-form input {
    margin-bottom: 5px;
    height: 40px;
    border-radius: 0px;
}

div.userName {
    font-size: 2em;
    color: white;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
}

body > div > form > div:nth-child(3) > div {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: tomato;
}

#city > option {
    font-size: 1em;
}

#city{
    width: 430px;
}

#inputCodigo {
    width: 430px;
}